scripts/__pycache__/utils.cpython-310.pyc
scripts/__pycache__/utils.cpython-310.pyc
/scripts/__pycache__
icons/farmers.png
icons/runbox.png
icons/toddsgotapen.png
icons/uwmedicine.png
icons/youcanbook.png
icons/bankofamerica.png
icons/airtable.png
icons/workflowy.png
icons/tomsplanner.png
