<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>browser</key>
	<string>Brave Browser</string>
	<key>tag_it</key>
	<string>tagi||ti</string>
	<key>tag_list</key>
	<string>tagl||tl</string>
	<key>tag_recent</key>
	<string>tagr||tr</string>
	<key>tag_search</key>
	<string>tags||ts</string>
	<key>tag_utils</key>
	<string>tagu||tu</string>
</dict>
</plist>
